---
---

<footer class="site-footer" role="contentinfo" aria-label="Stopka serwisu">
  <div class="footer-inner">
    <span>
      <strong>Udrażnianie kanalizacji Warszawa</strong> – Wszelkie prawa
      zastrzeżone © 2008
    </span>
    <span>
      Tel.:
      <a href="tel:+48510733300">510 733 300</a>
    </span>
    <span>
      E-mail:
      <a href="mailto:kontakt@udraznianiekanalizacji.eu">
        kontakt@udraznianiekanalizacji.eu
      </a>
    </span>
  </div>
</footer>
