---
---

<footer>
  <div class="footer-grid">
    <div class="footer-brand">
      <a href="/" class="nav-logo" style="color: white;">
        <span class="logo-snowflake">❄️</span>
        <span class="logo-text-new">
          <span style="color: white;">Zamontuj</span> <span class="logo-text-blue">Klimatyzację</span>
        </span>
      </a>
      <p>Profesjonalny montaż i serwis klimatyzacji w Warszawie i okolicach. Zaufaj ekspertom.</p>
    </div>
    <div class="footer-col">
      <h4>Usługi</h4>
      <ul>
        <li><a href="/#klimatyzatory">Klimatyzatory</a></li>
        <li><a href="/#producenci">Marki</a></li>
        <li><a href="/kontakt">Kontakt</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Kontakt</h4>
      <ul>
        <li><a href="tel:+48888806921">888 806 921</a></li>
        <li><a href="mailto:mskplxk@gmail.com">mskplxk@gmail.com</a></li>
        <li>Warszawa i okolice</li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <span>&copy; 2025 Zamontuj Klimatyzację. Wszelkie prawa zastrzeżone.</span>
  </div>
</footer>