---

---

<nav class="toolbar" role="navigation" aria-label="Główna nawigacja">
  <div class="toolbar-inner">
    <!-- Hamburger na mobile -->
    <button
      class="menu-toggle"
      aria-label="Menu"
      aria-expanded="false"
      aria-controls="main-menu"
      onclick="
        document.body.classList.toggle('menu-open');
        this.setAttribute(
          'aria-expanded',
          document.body.classList.contains('menu-open')
        );
      "
    >
      <span class="bars" aria-hidden="true"></span>
    </button>

    <!-- Menu główne -->
    <ul class="toolbar-nav" id="main-menu">
      <li>
        <a href="/udraznianie-rur-warszawa"
          >Udrażnianie rur Warszawa
        </a        >
      </li>
      <li class="has-dropdown">
        <a
          href="/hydraulik-warszawa"
          class="dropdown-toggle"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Usługi hydrauliczne
        </a>
        <ul
          class="dropdown"
          role="menu"
          aria-label="Podmenu: Usługi hydrauliczne"
        >
          <li>
            <a href="/hydraulik-warszawa#pogotowie-hydrauliczne">
              Pogotowie hydrauliczne
            </a>
          </li>
          <li>
            <a href="/hydraulik-warszawa#lista-uslug-hydraulicznych">
              Lista usług hydraulicznych
            </a>
          </li>
          <li>
            <a href="/hydraulik-wawer">
              Hydraulik Wawer
            </a>
          </li>
          <li>
            <a href="/hydraulik-zacisze">
              Hydraulik Zacisze
            </a>
          </li>
          <li>
            <a href="/udraznianie-kanalizacji-warszawa">   
              Udrażnianie kanalizacji Warszawa
            </a>
          </li>
          <li>
            <a href="/hydraulik-brodno">
              Hydraulik Bródno
            </a>
          </li> 
          <li>
            <a href="/przepychanie-kanalizacji-warszawa-i-okolice">
              Przepychanie kanalizacji Warszawa i okolice
            </a>
          </li> 
        </ul>                        
      </li>

      <li class="has-dropdown">
        <a
          href="/udraznianie-zlewu"
          class="dropdown-toggle"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Udrażnianie zlewu
        </a>
        <ul
          class="dropdown"
          role="menu"
          aria-label="Podmenu: Udrażnianie zlewu"
        >
          <li>
            <a href="/udraznianie-rur-warszawa"> Udrażnianie rur </a>
          </li>
          <li></li>
        </ul>

        <li><a href="/udraznianie-toalety">Udrażnianie WC</a></li>
        <li><a href="/kontakt">Kontakt</a></li>
        <li>
          <a href="tel:+48510733300" class="call"
            >Zadzwoń 510&nbsp;733&nbsp;300</a
          >
        </li>
      </li>
    </ul>
  </div>
</nav>
